@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
    @apply md:flex flex-none
}


.auth-layout__content {
    @apply  h-full lg:container	
}


 .active {
     font-weight: 800;
     color: #7ABDE6
}
.task-container {
    border: solid 5px cyan

}
.tooltip {
    width: 200px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
